@use "global" as *;
.fixed-button {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 42px;
  font-family: $second-font-family;
  border-top: 1px solid #dee2e6!important;
  @include mq(md) {
    display: none;
  }
}
.fixed-button a {
  width: calc((100% - 42px) / 2);
  background-color: #fff;
  border-right: 1px solid #dee2e6!important;
  font-size: rem(14);
  line-height: 42px;
  text-align: center;
}
a.fixed-button__pagetop {
  position: relative;
  width: 42px;
  height: 42px;
}