@use "global" as *;

.footer {
    padding: rem(40) 0 rem(120);
    background-color: #f8f9fa;
    @include mq(md) {
        padding: rem(40) 0;
    }
}
.footer__inner {
    @include mq(md) {
    }
}
.footer__logo-area {
    margin-left: auto;
    margin-right: auto;
    width: rem(280);
}
.footer__nav-lists {
    margin-top: rem(20);
    text-align: center;
}

.footer__logo-area--top {
    margin-top: rem(120);
}