@use "global" as *;
.top-feature__lists {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    }
}
.top-feature__lists.column--2 {
    @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    }
}