@use "global" as *;
.access-block {
  width: 100%;
}
.access-block td.bold {
  font-size: rem(20);
}
.access-block .meta-info__column {
  margin-top: rem(20);
  width: 100%;
}
.access-block .meta-info__column::before {
  padding-top: 400px;
}