@use "global" as *;
.footer-nav {
    display: inline;
    font-size: rem(14);
}
.footer-nav__link {
    display: inline;
    padding: rem(10);
    color: rgba(0, 0, 0, 0.65);
}
.footer-nav--dropdown {
    display: inline;
}
